---
import Default from '@astrojs/starlight/components/Footer.astro';
---

<Default>
  <slot />
  <nav>
    <a href="https://thai-massage.de/datenschutz">Datenschutz</a>
    <span>|</span> <!-- Optional: Trennzeichen -->
    <a href="https://thai-massage.de/impressum">Impressum</a>
  </nav>
</Default>
